<div class="bg-white">
  <section class="featured-jobs bg-white min-h-screen w-10/12 mx-auto py-20 lg:max-w-5xl xl:max-w-screen-xl">
   
    <%- include('../../components/molecule/latest-recent'); %>

    <div class="featured-jobs-container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <!-- featured job card - JOB 1 -->
          <% const featuredCardContent = [
            {
              image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png",
              header: "FULL TIME",
              subHeader: "Product Redesign",
              address: "2708 Scenic Way, IL 62373"
            },
            {
              image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png",
              header: "FULL TIME",
              subHeader: "Product Redesign",
              address: "2708 Scenic Way, IL 62373"
            },
            {
              image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png",
              header: "PART TIME",
              subHeader: "Product Redesign",
              address: "2708 Scenic Way, IL 62373"
            },
            {
              image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png",
              header: "PART TIME",
              subHeader: "Product Redesign",
              address: "2708 Scenic Way, IL 62373"
            },
            {
              image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png",
              header: "INTERNSHIP",
              subHeader: "Product Redesign",
              address: "2708 Scenic Way, IL 62373"
            },
            {
              image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png",
              header: "PART TIME",
              subHeader: "Product Redesign",
              address: "2708 Scenic Way, IL 62373"
            },
            {
              image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png",
              header: "FULL TIME",
              subHeader: "Product Redesign",
              address: "2708 Scenic Way, IL 62373"
            },
            {
              image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png",
              header: "PART TIME",
              subHeader: "Product Redesign",
              address: "2708 Scenic Way, IL 62373"
            }
            ]; %>

<% featuredCardContent.forEach(element => { %>
 <%- include ('../../components/molecule/featured-card', element); %>
<% }) %>
            
    </div>
    <!-- browse jobs button -->
    <div class="mx-auto mt-10 w-max bg-btngreen rounded py-3 px-7">
      <p class="font-montserrat text-white">BROWSE ALL JOBS</p>
    </div>
  </section>
</div>
