<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Portal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/styles/style.css" />
    <script src="https://kit.fontawesome.com/bafe0bdc31.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    

    
    <%- include('../partials/shared/navbar-landing'); %>
    <main><%- body %></main>
    <%- include('../partials/shared/footer'); %>


    <script>
      const dropDownElement = document.getElementById("dropDownDesignation");
      const contentElement = document.getElementById("contentDesignation");
    
      dropDownElement.addEventListener("click", function() {
        if (contentElement.hasAttribute("hidden")) {
          contentElement.removeAttribute("hidden");
        } else {
          contentElement.setAttribute("hidden", "true");
        }
      });
    </script>

  </body>
</html>
