<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>remote.ly | <%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/styles/style.css" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 
    <script src="https://kit.fontawesome.com/bafe0bdc31.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    

    
    <%- include('../partials/shared/navbar-landing'); %>
    <main><%- body %></main>
    <%- include('../partials/shared/footer'); %>


    <script>
      const dropDownDestination = document.getElementById("dropDownDesignation");
      const contentDestination = document.getElementById("contentDesignation");
    
      dropDownDestination.addEventListener("click", function() {
        if (contentDestination.hasAttribute("hidden")) {
          contentDestination.removeAttribute("hidden");
        } else {
          contentDestination.setAttribute("hidden", "true");
        }
      });
    
      const dropDownQualification = document.getElementById("dropDownQualification");
      const contentQualification = document.getElementById("contentQualification");
    
      dropDownQualification.addEventListener("click", function() {
        if (contentQualification.hasAttribute("hidden")) {
          contentQualification.removeAttribute("hidden");
        } else {
          contentQualification.setAttribute("hidden", "true");
        }
      });
    
      const dropDownExperience = document.getElementById("dropDownExperience");
      const contentExperience = document.getElementById("contentExperience");
    
      dropDownExperience.addEventListener("click", function() {
        if (contentExperience.hasAttribute("hidden")) {
          contentExperience.removeAttribute("hidden");
        } else {
          contentExperience.setAttribute("hidden", "true");
        }
      });
    </script>



  </body>
</html>
  