<!-- // NAVBAR FOR LANDING PAGE ONLY -->
<!-- navbar turns transparent when it reached lg, added transition on lg breakpoint using tailwind-->
<nav class="bg-white w-full fixed top-0 z-50 py-2 lg:bg-transparent lg:transition lg:duration-1000 lg:ease-in-out">
  <!-- this container is to set the max width -->
  <div class="nav-container h-full w-10/12 flex items-center justify-between mx-auto lg:max-w-7xl lg:text-white">
    <div class="nav-logo flex items-center gap-2">
      <%- include('../../components/molecule/logo-name'); %>
      <!-- hidden on smaller screens. Links show on lg and larger screens -->
      <div class="nav-pages hidden lg:flex lg:items-center lg:gap-2 lg:ml-5 xl:gap-5">
        <a href="" class="home text-title font-semibold">Home</a>
        <a href="" class="text-title font-semibold">Page2</a>
        <a href="" class="text-title font-semibold">Page3</a>
        <a href="" class="text-title font-semibold">Page4</a>
      </div>
    </div>
    <!-- hidden on smaller screens. Buttons show on lg and larger screens  -->
    <div class="nav-buttons hidden lg:flex lg:items-center lg:gap-2">
      <div class="bg-btngreen flex items-center gap-3 py-2 px-4 rounded-md hover:bg-green-700 duration-500 ease-in-out">
        <i class="fa-regular fa-user" style="color: #ffffff"></i>
        <a href="" class="text-white font-semibold">Login</a>
      </div>
      <div class="bg-btngreen flex items-center gap-3 py-2 px-4 rounded-md hover:bg-green-700 duration-500 ease-in-out">
        <i class="fa-solid fa-briefcase" style="color: #ffffff"></i>
        <a href="" class="text-white font-semibold">Register</a>
      </div>
    </div>
  </div>
</nav>

<!-- saan ilalagay javascript for this -->
<script>
  const nav = document.querySelector("nav");
  const h2Logo = document.querySelector("h2.business-name");
  const homeLink = document.querySelector("a.monstreat");
  const otherLinks = document.querySelectorAll(".nav-pages a:not(home)");

  const threshold = 0.2;

  window.addEventListener("scroll", () => {
    const scrollY = window.scrollY || window.pageYOffset;

    if (scrollY >= threshold * window.innerHeight) {
      nav.style.backgroundColor = "white";
      h2Logo.style.color = "black";
      homeLink.style.color = "#24d671";
      otherLinks.forEach((link) => (link.style.color = "#6b797c"));
    } else {
      nav.style.backgroundColor = "";
      h2Logo.style.color = "";
      homeLink.style.color = "";
      otherLinks.forEach((link) => (link.style.color = ""));
    }
  });
</script>
