<div class="newsletter py-16 px-4">
  <div class="newsletter-container mx-auto lg:w-8/12">
    <div class="newsletter-text text-center mb-9">
      <h2 class="font-poppins text-white font-semibold text-3xl mb-2 md:text-4xl">Subscribe To Our Newsletter!</h2>
      <p class="text-white leading-relaxed font-medium">Don't miss out – join our community today and elevate your remote work journey with remote.ly!</p>
    </div>
    <div class="input-group px-2 py-3 mx-auto grid grid-rows-2 gap-5 md:w-1/2">
      <div class="email-container flex px-4 py-2 bg-white rounded">
        <div class="email-icon flex items-center px-3 py-2">
          <i class="fa-regular fa-envelope" style="color: #26ae61"></i>
        </div>
        <input type="email" name="" id="" class="py-2 px-5 flex-1" placeholder="Enter your Email..." />
      </div>
      <button class="text-btngreen mx-auto rounded font-medium py-2 px-7 max-w-max bg-white border-2 border-transparent hover:bg-gray-400 hover:text-white duration-500 ease-in-out">SUBSCRIBE</button>
    </div>
  </div>
</div>
