<div class="second-container featured-jobs-card border rounded-md mt-8 w-full lg:col-span-2">
  <div class="header">
    <h3 class="p-6 bg-darkGray font-bold text-lg rounded-md text-white"><%= title %></h3>
  </div>
  <div class="content p-6">
    <ul>
      <% content.listItems.forEach(item => { %>
        <li class="mb-4 text-description font-medium flex gap-4 items-center">
          <i class="fa-solid fa-minus"></i>
          <%= item %>
        </li>
      <% }); %>
    </ul>
  </div>
</div>