<div class="second-container border border-green-500 rounded-md mt-8 w-full lg:col-span-2">
  <div class="header">
    <h3 class="p-6 bg-gray-500 rounded-md text-white"><%= title %></h3>
  </div>
  <div class="content p-6">
    <!-- Include your Google Maps API integration here -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d965.1916923633984!2d121.07287940260032!3d14.612357904513773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b81d7f0ba753%3A0x39173fd02d5e8d2a!2sIBM%20Plaza%20Condominium%20Association%2C%20Incorporated!5e0!3m2!1sen!2sph!4v1691808058369!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>