<li>
    <div class="flex items-center border-b-2 border-dashed mt-2">
      <input class="w-4 h-4 " type="checkbox" />
      <label class="ml-4 w-28 bg-pink-500 lg:w-36" for=""><%= label %></label>
      <% if (value === '' || typeof value === 'undefined') { %>
        <label class="ml-7 mb-2" for=""></label>
      <% } else { %>
        <label class="" for=""><%= value %></label>
      <% } %>
    </div>
  </li>