<div class="third-container mb-8 h-fit w-full featured-jobs-card px-4">
  <div class="header flex items-center gap-3 border-b border-grayBorder py-3">
    <div class="bg-btngreen w-9 h-9 rounded-full flex items-center justify-center"><%- mainIcon %></div>
    <h3 class="font-poppins font-semibold text-lg text-title"><%= title %></h3>
  </div>
  <div class="px-2 py-6">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d965.1916923633984!2d121.07287940260032!3d14.612357904513773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b81d7f0ba753%3A0x39173fd02d5e8d2a!2sIBM%20Plaza%20Condominium%20Association%2C%20Incorporated!5e0!3m2!1sen!2sph!4v1691808058369!5m2!1sen!2sph" class="w-full" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
