<div class="w-max text-title border-2 border-gray-200 bg-gray-200 mx-auto  rounded py-3 px-9 duration-500 ease-in-out  hover:border-lightGray hover:bg-lightGray hover:cursor-pointer hover:text-white">
   <p class="font-montserrat  font-medium"><%- btnText %></p>
</div>