<div class="mx-auto">
    <div class="pagination flex gap-2">
      
      <div class="w-10 h-10 flex items-center justify-center shadow-lg rounded-full hover:bg-btngreen border  hover:text-white duration-500 ease-in-out">
        <a href="#" >&laquo;</a>
      </div>
      <div class="w-10 h-10 flex items-center justify-center shadow-lg rounded-full hover:bg-btngreen border  hover:text-white duration-500 ease-in-out">
        <a href="#" class="text-sm">1</a>
      </div>
      <div class="w-10 h-10 flex items-center justify-center shadow-lg rounded-full hover:bg-btngreen border  hover:text-white duration-500 ease-in-out">
        <a href="#" class="text-sm">2</a>
      </div>
      <div class="w-10 h-10 flex items-center justify-center shadow-lg rounded-full hover:bg-btngreen border  hover:text-white duration-500 ease-in-out">
        <a href="#" class="text-sm">3</a>
      </div>
     <div class="w-10 h-10 flex items-center justify-center shadow-lg rounded-full hover:bg-btngreen border  hover:text-white duration-500 ease-in-out">
        <a href="#">&raquo;</a>
      </div>
    </div>
</div>