<div class="flex justify-center p-5">
    <div class="pagination">
      <a class="border px-4 py-3 rounded-full hover:bg-green-500" href="#">&laquo;</a>
      <a class="border px-4 py-3 rounded-full hover:bg-green-500" href="#">1</a>
      <a class="border px-4 py-3 rounded-full hover:bg-green-500" href="#">2</a>
      <a class="border px-4 py-3 rounded-full hover:bg-green-500" href="#">3</a>
      <a class="border px-4 py-3 rounded-full hover:bg-green-500" href="#">&raquo;</a>
    </div>
</div>