<!-- category job#1 -->
<div class="job-categories-card rounded-xl py-8 px4 hover:scale-105 hover:cursor-pointer duration-500 ease-in-out">
  <div class="bg-btngreen mx-auto mb-5 w-20 h-20 flex items-center justify-center rounded-full"><%- icon %></div>
  <div class="categories-text text-center">
    <h4 class="font-poppins text-title font-semibold my-3"><%= heading %></h4>
    <p class="category-job text-sm py-1 px-3 rounded max-w-max font-medium mx-auto"><%= subHeading %></p>
  </div>
</div>
