<div class="mt-20"><%- include('../partials/shared/banner', {header : "Job Details"}); %></div>

<div class="main-container bg-pink-200 w-10/12 mx-auto py-20 lg:max-w-5xl xl:max-w-screen-xl">
  <div class="row-elements flex flex-col gap-8 lg:flex-row">
    <div class="first-container bg-blue-200 w-full">
      <div class="featured-jobs-card p-4 bg-white">
        <div class="flex flex-col lg:flex-row">
          <div class="featured-jobs-content border-b lg:w-1/2 border-blue-600 lg:border-r lg:border-b-0">
            <div class="feauted-jobs-img mx-auto rounded-full overflow-hidden">
              <img src="http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png" alt="featued jobs image" class="p-1 rounded-full" />
            </div>
            <div class="featured-jobs-text text-center mt-3">
              <h4 class="job-title poppins font-semibold text-lg">Web Designer</h4>
              <p class="address monstreat text-sm">2708 Scenic Way, IL 62373</p>
            </div>
            <div class="featured-jobs-button buttons2 mx-auto w-max mb-2 rounded mt-6">
              <button class="px-4 py-2 monstreat text-xs">APPLY NOW</button>
            </div>
          </div>
          <div class="p-4">
            <p class="pb-2"><i class="fa-solid fa-pen-nib"></i> 20k to 50</p>
            <p class="pb-2"><i class="fa-solid fa-pen-nib"></i> 20k to 50</p>
          </div>
        </div>
      </div>
    </div>
    <div class="second-container w-full h-36 bg-orange-200 lg:w-2/6"></div>
  </div>

  <%- include('../partials/shared/newsletter'); %>
</div>
