<div class="mt-20"><%- include('../partials/shared/banner', {header : "Job Details"}); %></div>

<!-- main container is used to set the max-width -->
<div class="main-container bg-pink-200 w-10/12 mx-auto py-20 lg:max-w-5xl xl:max-w-screen-xl">
  <!-- this div is the container of all the cards - used to set grid -->
  <div class="row-elements gap-8 grid grid-cols-1 lg:grid-cols-3">
    <!-- this is the first card - top card -->
    <div class="first-container w-full lg:col-span-2">
      <div class="featured-jobs-card p-4 bg-white">
        <div class="flex flex-col lg:flex-row">
          <div class="featured-jobs-content border-b lg:w-2/6 border-blue-600 lg:border-r lg:border-b-0">
            <div class="feauted-jobs-img mx-auto rounded-full overflow-hidden">
              <img src="http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png" alt="featued jobs image" class="p-1 rounded-full" />
            </div>
            <div class="featured-jobs-text text-center mt-3">
              <h4 class="job-title poppins font-semibold text-lg">Web Designer</h4>
              <p class="address monstreat text-sm">2708 Scenic Way, IL 62373</p>
            </div>
            <div class="featured-jobs-button buttons2 mx-auto w-max my-4 rounded mt-6">
              <button class="px-4 py-2 monstreat text-xs">APPLY NOW</button>
            </div>
          </div>
          <div class="p-4">
            <ul>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- bottom card - (eto yung mga job description) -->
      <div class="second-container border border-green-500 rounded-md mt-8 w-full lg:col-span-2">
        <div class="header">
          <h3 class="p-6 bg-gray-500 rounded-md text-white">Job Description</h3>
        </div>
        <div class="content p-6">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium facere nulla nam incidunt commodi ratione, vitae quisquam quos ut et?</p>
          <p class="mt-4">lorem 20</p>
        </div>
      </div>
    </div>

    <!-- right card - (eto yung may green na icon)-->
    <div class="second-container h-fit w-full featured-jobs-card px-4">
      <div class="header flex items-center gap-3 border-b border-blue-500 py-3">
        <div class="bg-btngreen w-9 h-9 rounded-full flex items-center justify-center">
          <i class="fa-solid fa-pen-nib"></i>
        </div>
        <h3>Location</h3>
      </div>
      <div class="px-2">
        <ul>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h3>Job Details</h3>
    <div class="featured-jobs-container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <% const featuredCardContent = [
          {
            image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png",
            header: "FULL TIME",
            subHeader: "Product Redesign",
            address: "2708 Scenic Way, IL 62373"
          },
          {
            image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_2.png",
            header: "FULL TIME",
            subHeader: "New Product Mockup",
            address: "2708 Scenic Way, IL 62373"
          },
          {
            image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_3.png",
            header: "PART TIME",
            subHeader: "Custom Php Developer",
            address: "3765 C Street, Worcester"
          },
          {
            image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_4.png",
            header: "PART TIME",
            subHeader: "Wordpress Developer",
            address: "2719 Duff Avenue, Winooski"
          },
          ]; %>
      
      <% featuredCardContent.forEach(element => { %>   
        <%- include ('../components/molecule/featured-card', element); %>
      <% }) %>
    </div>
    
</div>
<%- include('../partials/shared/newsletter'); %>
