<div class="mt-20"><%- include('../partials/shared/banner', {header : "Job Details"}); %></div>

<!-- main container is used to set the max-width -->
<div class="main-container bg-pink-200 w-10/12 mx-auto py-20 lg:max-w-5xl xl:max-w-screen-xl">
  <!-- this div is the container of all the cards - used to set grid -->
  <div class="row-elements gap-8 grid grid-cols-1 lg:grid-cols-3">
    <!-- this is the first card - top card -->
    <div class="first-container w-full lg:col-span-2">
      <div class="featured-jobs-card p-4 bg-white">
        <div class="flex flex-col lg:flex-row">
          <div class="featured-jobs-content border-b lg:w-2/6 border-blue-600 lg:border-r lg:border-b-0">
            <div class="feauted-jobs-img mx-auto rounded-full overflow-hidden">
              <img src="http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png" alt="featued jobs image" class="p-1 rounded-full" />
            </div>
            <div class="featured-jobs-text text-center mt-3">
              <h4 class="job-title poppins font-semibold text-lg">Web Designer</h4>
              <p class="address monstreat text-sm">2708 Scenic Way, IL 62373</p>
            </div>
            <div class="featured-jobs-button buttons2 mx-auto w-max my-4 rounded mt-6">
              <button class="px-4 py-2 monstreat text-xs">APPLY NOW</button>
            </div>
          </div>
          <div class="p-4">
            <ul>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
              <li class="flex gap-2 py-2">
                <i class="fa-solid fa-pen-nib"></i>
                <p>20k to 50k</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- bottom card - (eto yung mga job description) - second-container -->
         <!-- second container - paragraph content (partials > jobdeatils > second-container > paragraph.ejs) -->
        <% const secondContainerSections = [
          {
            partial: '../partials/jobdetails/second-container/_paragraph',
            title: 'Job Description',
            content: [
              'A web designer is a creative professional who combines artistic flair with technical skills to conceptualize and design visually appealing and functional websites. Drawing on their expertise in graphic design, user experience (UX) design, and coding, web designers collaborate with clients or project teams to craft websites that align with the brand\'s identity and meet the needs of the target audience.',
              
              'In their role, a web designer is responsible for translating client requirements and user expectations into engaging website layouts. They carefully select color schemes, typography, and imagery to create a harmonious visual environment that reflects the client\'s message and values. Additionally, web designers ensure that the user interface is intuitive and user-friendly, optimizing the navigation flow to enhance the overall user experience.'
            ]
          },
          {
            partial: '../partials/jobdetails/second-container/_list',
            title: 'Job Skill',
            content: {
              listItems: [
                'Implement updates, bug fixes, and performance optimizations to enhance website functionality and user experience ', 
                'Ensure landing pages align with campaign objectives, branding guidelines, and design best practices.', 
                'Collaborate effectively with cross-functional teams, including designers, marketers, and content creators, to meet project requirements.', 
                'Stay up to date with emerging web technologies, industry trends, and best practices', 
                'Develop and maintain APIs'
              ]
            }
          },
          {
            partial: '../partials/jobdetails/second-container/_map',
            title: 'Location',
          }
        ];

        secondContainerSections.forEach(section => { %>
          <%- include(section.partial, { title: section.title, content: section.content }) %>
        <% }); %>
    
      </div>
    <!-- right card - (eto yung may green na icon)-->
    <div class="third-container h-fit w-full featured-jobs-card px-4">
      <div class="header flex items-center gap-3 border-b border-blue-500 py-3">
        <div class="bg-btngreen w-9 h-9 rounded-full flex items-center justify-center">
          <i class="fa-solid fa-pen-nib"></i>
        </div>
        <h3>Location</h3>
      </div>
      <div class="px-2">
        <ul>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
          <li class="flex gap-2 py-2">
            <i class="fa-solid fa-pen-nib"></i>
            <p>20k to 50k</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  // reused section, obtained from featured-jobs
  <h3>Similar Jobs</h3>
    <div class="featured-jobs-container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <% const featuredCardContent = [
          {
            image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png",
            header: "FULL TIME",
            subHeader: "Product Redesign",
            address: "2708 Scenic Way, IL 62373"
          },
          {
            image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_2.png",
            header: "FULL TIME",
            subHeader: "New Product Mockup",
            address: "2708 Scenic Way, IL 62373"
          },
          {
            image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_3.png",
            header: "PART TIME",
            subHeader: "Custom Php Developer",
            address: "3765 C Street, Worcester"
          },
          {
            image : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_4.png",
            header: "PART TIME",
            subHeader: "Wordpress Developer",
            address: "2719 Duff Avenue, Winooski"
          },
          ]; %>
      
      <% featuredCardContent.forEach(element => { %>   
        <%- include ('../components/molecule/featured-card', element); %>
      <% }) %>
    </div>
    
</div>
<%- include('../partials/shared/newsletter'); %>
