<div class="mx-auto w-full lg:max-w-md">
    <!-- <img class="mx-auto h-20 w-auto" src="../assets/images/logo.svg" alt="Your Company"> -->
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-title"><%= Header %></h2>
  </div>

 